<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>escanear</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
      <ion-title size="large">Escanear</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="flex-center">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png" />
      <ion-card-header>
      <ion-card-title>Escanear Codigo QR</ion-card-title>
      </ion-card-header>
      <ion-button color="danger" size="full" (click)="onVisualizar()" shape="round">Visualizar</ion-button>
    </ion-card>
  </div>



</ion-content>
