<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>escanear</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      
      <ion-title size="large">Escanear</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="flex-center">
    <ion-card>
      <div class="img">
        <img alt="Codigo Qr" src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png" />
      </div>
      
      <ion-card-header>
      <ion-card-title>Escanear Codigo QR</ion-card-title>
      </ion-card-header>
      <ion-button (click)="Scan()" id="captura" expand="block" color="danger" size="full"  shape="round">Captura</ion-button>
    </ion-card>
  </div>

  <!-- <ion-modal #modal >
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Prevista</ion-title>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="modal.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-content>
        <ion-card *ngFor="let i of asistencia">
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>{{i.correo}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>{{i.asignatura}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>{{i.docente}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>{{i.fecha}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label>{{i.hora}}</ion-label>
              </ion-item>

              
              <ion-item>
                <ion-label>{{i.leccion}}</ion-label>
              </ion-item>

            </ion-list>

          </ion-card-content>


        </ion-card>

        



    </ng-template>

  </ion-modal> -->


</ion-content>
