
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">
    <div class="flex-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Informacion de Contacto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input label="Email" [(ngModel)]="Email"   type="email" labelPlacement="floating" placeholder=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña"  [(ngModel)]="Contrasena" type="password" labelPlacement="floating" placeholder=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Confirmar Contraseña"  type="password" labelPlacement="floating" placeholder=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Numero celular" [(ngModel)]="number" type="tel" labelPlacement="floating" placeholder=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Name" [(ngModel)]="name" type="name" labelPlacement="floating" placeholder=""></ion-input>
          </ion-item>


          <ion-list>
            <ion-item>
              <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSel">
                <ion-select-option *ngFor="let i of regiones" [value]="i.id">{{i.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
      
      
          <ion-list>
            <ion-item>
              <ion-select [disabled]="disabledComuna" placeholder="Seleccione comuna" [(ngModel)]="comunaSel">
                <ion-select-option *ngFor="let i of comunas" [value]="i.id">{{i.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        
        </ion-card-content>
        <ion-button (click)="registro()" size="full" color="primary">
          Registrar
        </ion-button>
      </ion-card>

    </div>
    
    
</ion-content>
