<ion-header >
  <ion-toolbar>
    <ion-title>Visualizar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ng-container *ngIf="!loading">
    <ion-card *ngFor="let m of menuVisualizar">
      <div>
        <h2>{{m.nombre}}</h2>
        <h2>{{m.asignatura}}</h2>
        <h2>{{m.fecha}}</h2>
        <h2>{{m.hora}}</h2>
        <h2>{{m.profesor}}</h2>
        <h2>{{m.sala}}</h2>


      </div>
    </ion-card>
  </ng-container>


</ion-content>
