<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
 <div class="flex-center"> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Restablecer Email Contraseña</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="recEmail" label="Recuperar Email"  type="Email" labelPlacement="floating" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="recContrasena" label="Recuperar Contraseña"  type="Password" labelPlacement="floating" placeholder=""></ion-input>
      </ion-item>

      <ion-button color="primary" size="full" (click)="onRecuperar()" shape="round">Recuperar Email/Contraseña</ion-button>
      

    </ion-card-content>

  </ion-card>
  </div>
</ion-content>
