<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="medium">
      Home
    </ion-title>
    <ion-button (click)="logout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ng-container *ngIf="!loading">
    <ion-card  *ngFor="let m of menuArray" class="__card">
      <ion-card-content>
      
        <div [routerLink]="m.url">
          <ion-icon [name]="m.icono"></ion-icon>
          <h2>{{m.nombre}}</h2>
        </div>
      
      </ion-card-content>
    </ion-card>  
  </ng-container>


</ion-content>
